.container{
    padding-block: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}