@import url(/src/index.css);

.row{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 500px;
}

.projeto{
    height: 400px;
    width: 20%;
    background-color: #111;
    padding: 2rem;
    color: white;
    line-height: 1.5;
    transition: .5s;
    border-radius: 8px;
    
}

.projeto ul{
    display: flex;
    flex-flow: column nowrap;
    padding-inline-start: 1rem;
}

.projeto ul li{
    list-style: none;
    padding-block: .4rem;
}

.projeto:hover{transform: scale(1.075);}
    
h3{
    font-family: "League Spartan";
    font-size: 24px;
}

span{font-family: "Roboto";}

.zoom{
    transform: scale(1.5);
    transition: .5s;
}

.absolute{
    position: absolute;
}

.bg-image{
    position: absolute;
    
}