@import url("/src/index.css");

.skillGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 6rem;
}

.abmeArea{
    width: 40%;
    margin: auto;
    letter-spacing: 1.3px;
}

h1{
    margin-bottom: 1.5rem;
    font-family: "League Spartan";
}

p{
    font-family: "Roboto";
}

.skills{
    display: flex; align-items: center;
    height: 64px;
}

.skills img{width: 24px;}

.skills span{
    color: #000;
    font-family: "Roboto";
    font-weight: 500;
}

.box{margin-block: 5rem;}
